if SHIELD_EYELASH_SOFLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Eyelash Sofle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

# Eyelash Sofle has 2 peripherals (left and right)
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# Set to peripherals (2) + BT profiles (5) = 7
config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif
